{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">
        <div class=" split-screen-upper-left"> 
            <h2>Profile </br>
        </div>
        <div class="background-white split-screen-lower-left">
      
            {{#if user.picture}}
             <img src="{{user.picture}}" alt="{{user.name}}"/>
            {{/if}}
    
            <span><strong>Name</strong>: {{user.name}}</span>
            <br />
            <span><strong>Email</strong>: {{user.email}}</span>
            <br/>
            <a href="/yoga/create">Create a Yoga class</a>
            <br/>
    
            <a href="/profile/{{userId}}/edit">Edit Profile</a>
        </div>
  
    </div>
    <aside class="split-screen-right">

        <h2>My upcoming classes</h2>

        {{#each classes}}
            <a href="/yoga/class{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                        <p> at {{ location }}</p> 
                        <p> Hatha is a general category that includes most yoga styles. It includes the practice of asanas and pranayama.</p> 
                    </div>
                    <div class="preview-box-right">
                        <p> {{date }} </p>
                        <p> {{ level }} </p>
                        <p>{{ teacher }}</p>
                        <p>{{ category }}</p>
                        
                    </div>   
                    <a href="/yoga/class/{{_id}}/edit" >Edit</a>
                    <a href="/yoga/class/{{_id}}/confirm-deletion" >Delete</a>
                </div>  
            </a>
            {{/each}}
        
        




    </aside>
</div>

