{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">
        <div class=" split-screen-upper-left"> 
            <div class="profile-upper-part">
                <img src="/images/default-profile.png" alt="profile-default-image">
        
            <h1>Profile </br>
            <span class="light-font"> Span </span></h1>
            
       
      
            {{#if user.picture}}
             <img src="{{user.picture}}" alt="{{user.name}}"/>
            {{/if}}
    
            <span><strong>Name</strong>: {{user.name}}</span>
            <br />
            <span><strong>Email</strong>: {{user.email}}</span>
        
    
            <a href="/profile/{{userId}}/edit">Edit Profile</a>

            <form class="form-button" action="/authentication/sign-out" method="POST">
                      <button>Sign Out</button></form>
            </div>


        </div>
  
    </div>
    <aside class="split-screen-right">

        <h2>My upcoming classes</h2>

        {{#each classes}}
            <a href="/yoga/class{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                       
                    </div>
                    <div class="preview-box-right">
                        <p> {{date }} </p>
                        <p> {{ level }} </p>
                        <p>{{ teacher }}</p>
                        <p>{{ category }}</p>
                        <p> {{{ date startdate "h:mm a" }}} </p>
                        
                    </div>   
                    <a href="/yoga/class/{{_id}}/edit" >Edit</a>
                    <a href="/yoga/class/{{_id}}/confirm-deletion" >Delete</a>
                </div>  
            </a>
            {{/each}}

        <a href="/yoga/create">Create a Yoga class</a>
        
        




    </aside>
</div>

