{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">

        <div class=" split-screen-upper-left"> 
            <h2> {{classes.name}} </h2>
        </div>
        <div class="background-white split-screen-lower-left">
          
              <div class="yoga-class-detail">
                    
                        <h3>{{ classes.name }}</h3>
                        <p> {{ classes.url }} </p>
                        <p> {{ classes.description }} </p>
              
                 
                      <div class="icon-copy-wrapper" id="extra-space">
                        <img src="/images/time-icon.png" alt="time">
                        <p> {{{ date classes.startdate "DD MMM" }}} {{{ date classes.startdate "h:mm" }}} - {{{ date classes.enddate "h:mm a" }}}</p>
                      </div>
                      <div class="icon-copy-wrapper">
                        <img src="/images/level-icon.png" alt="level">
                        <p> Level: {{ classes.level }}</p>
                      </div>
                      <div class="icon-copy-wrapper">
                        <img src="/images/teacher-icon.png" alt="teacher">
                        <p> With: {{ classes.teacher }}</p>
                      </div>
                      
             
            
                </div>  
      
        </div>

        
    </div>

        <div id="google-map"></div>
</div>

<script>
  function initMap () {
    //Import database Info

    const classes = {{{ json classes }}};

    //Log via browser
    console.log(classes);
    console.log(classes.location.coordinates[1]);


    const mapElement = document.getElementById('google-map');
    const map = new google.maps.Map (mapElement, {
      center: {
        lat: classes.location.coordinates[1],
        lng: classes.location.coordinates[0]
      },
      zoom: 13
    })

    
    const marker = new google.maps.Marker({
        position: {
          lat: classes.location.coordinates[1],
          lng: classes.location.coordinates[0]
        },
        map:map
      })

    const image =
    "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
    const mylocationmarker = new google.maps.Marker({
        position: {
          lat: -8.8,
          lng: 115.15
        },
        map:map,
        icon: image,
      })


  }


</script>

{{> scriptgooglemaps}}

