{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">

        <div class=" split-screen-upper-left"> 
            <h2> {{classes.name}} </h2>
        </div>
        <div class="background-white split-screen-lower-left">
          
                <div class="yoga-class-preview ">
                    <h3>{{ classes.name }}</h3>
                  
                    <p> {{classes.location.coordinates.[1]}} </p> 
                    <p> {{classes.location.coordinates.[0]}} </p> 


                    <p>{{ classes.place }}</p> 
                </div>  
      
        </div>

        
    </div>

        <div id="google-map"></div>
</div>

<script>
  function initMap () {
    const mapElement = document.getElementById('google-map');
    const map = new google.maps.Map (mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    })
/*

    for (let classlisting of classes) {
      const marker = new google.maps.Marker({
        position: {
          lat: classlisting.location.coordinates[1],
          lng: classlisting.location.coordinates[0]
        },
        map:map
      })

      marker.addListener('click', () => {
        window.location = `/yoga/class${classlisting._id}`;
      });
    }
    
    */
  }


</script>

{{> scriptgooglemaps}}