{{! Temporary styiling}}
<div class="split-screen .background-white">
    <div class="split-screen-left">

        <div class=" split-screen-upper-left"> 
            <h2> {{classes.name}} </h2>
        </div>
        <div class="background-white split-screen-lower-left">
          
              <div class="yoga-class-detail">
                    <h3>{{ classes.name }}</h3>
                  
                    <p> Teacher: {{classes.teacher}} </p> 
                    <p> Date: {{classes.date }} </p> 
                    <p> Level: {{ classes.level }} </p>
                    <p> Category: {{ classes.category }}</p>


                    <p> Place {{ classes.place }}</p> 
            
                </div>  
      
        </div>

        
    </div>

        <div id="google-map"></div>
</div>

<script>
  function initMap () {
    //Import database Info

    const classes = {{{ json classes }}};

    //Log via browser
    console.log(classes);
    console.log(classes.location.coordinates[1]);


    const mapElement = document.getElementById('google-map');
    const map = new google.maps.Map (mapElement, {
      center: {
        lat: classes.location.coordinates[1],
        lng: classes.location.coordinates[0]
      },
      zoom: 13
    })

    
    const marker = new google.maps.Marker({
        position: {
          lat: classes.location.coordinates[1],
          lng: classes.location.coordinates[0]
        },
        map:map
      })

    const image =
    "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
    const mylocationmarker = new google.maps.Marker({
        position: {
          lat: -8.8,
          lng: 115.15
        },
        map:map,
        icon: image,
      })


  }


</script>

{{> scriptgooglemaps}}

