<div class="split-screen ">
  <div class="split-screen-left-scroll">
    <div class=" split-screen-upper-left"> 
      <h2>Edit Yoga Class</h2>
    </div>
    <div class="background-white split-screen-lower-left">
    <form method="POST" action="/yoga/class/{{classes._id}}">


      <div class="form-styling">
        <label for="input-name">Name</label>
        <input type="text" id="input-name" name="name" value="{{classes.name}}" />
      </div>

      <div class="form-styling">
        <label for="input-url">URL</label>
        <input type="url" id="input-url" name="url" value="{{classes.url}}" onblur="checkURL(this)" />
      </div>

      <div class="form-styling">
          <label for="input-startdate">From</label>
          <input type="datetime-local" id="input-startdate" name="startdate" value="{{classes.startdate}}">
        </div>
        <div class="form-styling">
          <label for="input-enddate">To</label>
          <input type="datetime-local" id="input-enddate" name="enddate" value="{{classes.enddate}}">
        </div>

      <div class="form-styling">
        <label for="input-level">Level</label>
        <select id="input-level" name="level">
            <option value="{{classes.level}}">{{classes.level}}</option> <!-- Display empty placeholder value-->
            <option value="beginner">beginner</option>
            <option value="advanced">advanced</option>
            <option value="proficient">proficient</option>
            <option value="any">any</option>
        </select>
      </div>

      <div class="form-styling">
        <label for="input-category">Category</label>
        <select id="input-category" name="category">
            <option value="{{classes.category}}">{{classes.category}}</option> <!-- Display empty placeholder value-->
            <option value="hatha">Hatha</option>
              <option value="vinyasa">Vinyasa</option>
              <option value="yin">Yin</option>
              <option value="astanga">Astanga</option>
              <option value="bikram">Bikram</option>
              <option value="other">Other</option>
        </select>
      </div>


      {{!<div class="form-styling">
        <label for="input-image"Add an image></label>
        <input id="input-image" type="file" name="image" accept="image/jpeg, image/png">
      </div>}}

      <div class="form-styling" id="longlat-form">
        <label for="input-latitude"></label>
        <input type="number" id="input-latitude" name="latitude" min="-90" max="90" step="any" value="{{classes.location.coordinates.[1]}}" />
        <label for="input-longitude"></label>
        <input type="number" id="input-longitude" name="longitude" min="-180" max="180" step="any" value="{{classes.location.coordinates.[0]}}"/>
      </div>

      <div class="center">
        <button class="secondary-button button-styling">edit class</button>
      </div>

      {{!Hidden Fields}}

      <label for="input-teacher"></label>
      <input id="input-teacher" type="hidden" name="teacher" value="{{ user.name }}">
      
      <label for="input-teacherid"></label>
      <input id="input-teacherid" type="hidden" name="teacherid" value="{{ user._id }}">
     
        
  
    </form>
  </div>
</div>



<div id="google-map"></div>

<script>

  // CHECK URL

  function checkURL (abc) {
  var string = abc.value;
  if (!~string.indexOf("http")) {
    string = "http://" + string;
  }
  abc.value = string;
  return abc
}


//MAP
  function initMap () {
    const mapElement = document.getElementById('google-map');
    const latitudeInput = document.getElementById('input-latitude');
    const longitudeInput = document.getElementById('input-longitude');
    const map = new google.maps.Map(mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });
    
    let marker;

    map.addListener('click', (position) => {
      const latitude = position.latLng.lat();
      const longitude = position.latLng.lng();

      latitudeInput.value = latitude.toFixed(5);
      longitudeInput.value = longitude.toFixed(5);

      if (marker) {
        marker.setMap(null);
      }
      marker = new google.maps.Marker({
        position: {
          lat: latitude,
          lng: longitude
        },
        map
      });
    })
  }
</script>


{{> scriptgooglemaps}}


