<div class="split-screen ">
    <div class="split-screen-left">
        <div class=" split-screen-upper-left"> 
            <h2>Find the Class </br>
            <span class="light-font"> that fits best for you.</span></h2>
        </div>
        <div class="background-white split-screen-lower-left">
            <div class="search">
                <img src="/images/search.png" alt="search-icon">
                <form action="">
                    <label for="site-search"></label>
                    <input type="search" id="site-search" name="q" placeholder="search classes">     
                </form>
                <img src="/images/filter.png" alt="filter-cion">
            </div>
            {{#each classes}}
            <a href="/yoga/{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                        <p> at {{ location }}</p> 
                        <p> Hatha is a general category that includes most yoga styles. It includes the practice of asanas and pranayama.</p> 
                    </div>
                    <div class="preview-box-right">
                        <p> {{date }} </p>
                        <p> {{ level }} </p>
                        <p>{{ teacher }}</p>
                        <p>{{ category }}</p>
                    </div>   
                </div>  
            </a>
            {{/each}}
        </div>
    </div>


    <aside class="split-screen-right"></aside>
        <div id="google-map"></div>
{{!
<script>
  function createMap () {
    const mapElement = document.getElementById('map');
    const map = new google.maps.Map(mapElement, {
      center: {
        lat: 38,
        lng: -9
      },
      zoom: 8
    });
    const restaurants = {{{ json restaurants }}
    
{{!

    };
    for (let restaurant of restaurants) {
      const marker = new google.maps.Marker({
        position: {
          lat: restaurant.location.coordinates[1],
          lng: restaurant.location.coordinates[0]
        },
        map: map
      })
      marker.addListener('click', () => {
        window.location = `/restaurant/${restaurant._id}`;
      });
    }
  }
</script>

{{> scriptgooglemaps}}


    </aside>
</div>