<div class="split-screen ">
    <div class="split-screen-left">
        <div class=" split-screen-upper-left"> 
            <h2>Find the Class </br>
            <span class="light-font"> that fits best to you.</span></h2>
        </div>
        <div class="background-white split-screen-lower-left">
            <div class="search">
                <img src="/images/search.png" alt="search-icon">
                <form action="">
                    <label for="site-search"></label>
                    <input type="search" id="site-search" name="q" placeholder="search classes">     
                </form>
                <img src="/images/filter.png" alt="filter-cion">
            </div>
            {{#each classes}}
            <a href="/yoga/class{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                        <p> at {{ location }}</p> 
                        <p> Hatha is a general category that includes most yoga styles. It includes the practice of asanas and pranayama.</p> 
                    </div>
                    <div class="preview-box-right">
                        <p> {{date }} </p>
                        <p> {{ level }} </p>
                        <p>{{ teacher }}</p>
                        <p>{{ category }}</p>
                    </div>   
                </div>  
            </a>
            {{/each}}
          </div>
      </div>
      

            <div id="google-map"></div>

</div>
 

<script>
  function initMap () {
    const mapElement = document.getElementById('google-map');

    const map = new google.maps.Map (mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });

    const classes = {{{ json classes }}};

    console.log(classes);

    for (let classlisting of classes) {
      const marker = new google.maps.Marker({
        position: {
          lat: classlisting.location.coordinates[1],
          lng: classlisting.location.coordinates[0]
        },
        map:map
      })

      marker.addListener('click', () => {
        window.location = `/yoga/class${classlisting._id}`;
      });
    }
  }

  //Change view on click



  
</script>


{{> scriptgooglemaps}}



    


