{{!
<input id="input-latitude" type="number" name="latitude"  value="{{latitude}}
{{!
" />
<input id="input-longitude" type="number" name="longitude" value="{{longitude}}
{{!" />
}}

<div class="split-screen ">
    <div class="split-screen-left">
        <div class=" split-screen-upper-left"> 
            <h2>Choose your practice </br>
            <span class="light-font"> for 
              
    
            <button id="input-dayindicationtoday"> Today </button>
            <button id="input-dayindicationtomorrow"> Tomorrow </button>
            <button id="input-dayindicationtomorrowAndone"> {{ date setdayfilter 'dddd'}} </button>
            <button id="input-dayindicationtomorrowAndtwo"> {{ date setdayfilter 'dddd'}} </button>
            <button id="input-dayindicationtomorrowAndthree"> {{ date setdayfilter 'dddd'}} </button>
            <button id="input-dayindicationtomorrowAndfour"> {{ date setdayfilter 'dddd'}} </button>
            <button id="input-dayindicationtomorrowAndfive"> {{ date setdayfilter 'dddd'}} </button>
            </span> 
            </h2> 
              

        </div>
        <div class="background-white split-screen-lower-left">

           {{!<div class="search">
                <img src="/images/search.png" alt="search-icon">
                <form action="">
                    <label for="input-classnamesearch"></label>
                    <input type="text" id="input-classnamesearch" name="classnamesearch" placeholder="Search class name">     
                </form>
            </div>
            }}

          

          <div class="category-filter">

            <button id="input-categoryvinyasa"> Vinyasa </button>
            <button id="input-categoryhatha"> Hatha </button>
            <button id="input-categoryyin"> Yin </button>
            <button id="input-categoryastanga"> Astanga </button>
            <button id="input-categorybikram"> Bikram </button>
            <button id="input-categoryother"> Other </button>

          </div>


           
            

           
            <h3> {{ date setdayfilter 'DD MMM'}} </h3>
         

        
            {{#each classes}}
    
            <a href="/yoga/class/{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                        <p> {{ date startdate 'YYYY-MM-DD HH:mm:ss'}} </p>
                        <p> Hatha is a general category that includes most yoga styles. It includes the practice of asanas and pranayama.</p> 
                    </div>
                    <div class="preview-box-right">
                      {{!
                      {{#if categoryindication == 'any'}}{{!
                      <p> Display Day </p>
                       {{/if}}
                      
                        <p> {{{ date startdate "h:mm a" }}} </p>
                        <p> {{{ date enddate "h:mm a" }}} </p>

                
                        <p> {{ level }} </p>
                        <p>{{ teacher }}</p>
                        <p>{{ category }}</p>
                      
                    </div>   
                </div>  
            </a>
            {{/each}}
          </div>
      </div>
      

            <div id="google-map"></div>

</div>
 

<script>

  //SPLIT URL

  function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
              var pair = vars[i].split("=");
              if(pair[0] == variable){return pair[1];}
      }
      return(false);
    }


  //DAYSEARCH  

    function getdayoutofdaysearchInput (object, value) {
      object.addEventListener('click', () => {
        const dayindication = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const category = getQueryVariable("categoryindication");
        console.log('category' + category);
        
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });
    }

    const daysearchtodayInput = document.getElementById('input-dayindicationtoday');
    const daysearchtomorrowInput = document.getElementById('input-dayindicationtomorrow');
    const daysearchtomorrowAndoneInput = document.getElementById('input-dayindicationtomorrowAndone');
    const daysearchtomorrowAndtwoInput = document.getElementById('input-dayindicationtomorrowAndtwo');
    const daysearchtomorrowAndthreeInput = document.getElementById('input-dayindicationtomorrowAndthree');
    const daysearchtomorrowAndfourInput = document.getElementById('input-dayindicationtomorrowAndfour');
    const daysearchtomorrowAndfiveInput = document.getElementById('input-dayindicationtomorrowAndfive');

    const daysearchanyInput = document.getElementById('input-dayindicationany');

    getdayoutofdaysearchInput(daysearchtodayInput, 'today');
    getdayoutofdaysearchInput(daysearchtomorrowInput, 'tomorrow');
    getdayoutofdaysearchInput(daysearchtomorrowAndoneInput, 'tomorrowandone');
    getdayoutofdaysearchInput(daysearchtomorrowAndtwoInput, 'tomorrowandtwo');
    getdayoutofdaysearchInput(daysearchtomorrowAndthreeInput, 'tomorrowandthree');
    getdayoutofdaysearchInput(daysearchtomorrowAndfourInput, 'tomorrowandfour');
    getdayoutofdaysearchInput(daysearchtomorrowAndfiveInput, 'tomorrowandfive');
    
    getdayoutofdaysearchInput(daysearchanyInput, 'any');

 
  //CATEGORYSEARCH  

  function getcategoryforsearchInput (button, value) {
      button.addEventListener('click', () => {
        const category = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const dayindication = getQueryVariable("dayindication");

        console.log(latitude);
         console.log(dayindication);
          console.log(category);
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });
    }

  const categoryInputvinyasa = document.getElementById('input-categoryvinyasa');
  const categoryInputhatha = document.getElementById('input-categoryhatha');
  const categoryInputyin = document.getElementById('input-categoryyin');
  const categoryInputastanga = document.getElementById('input-categoryastanga');
  const categoryInputbikram = document.getElementById('input-categorybikram');
  const categoryInputother = document.getElementById('input-categoryother');




  getcategoryforsearchInput(categoryInputvinyasa, 'vinyasa');
  getcategoryforsearchInput(categoryInputhatha, 'hatha');
  getcategoryforsearchInput(categoryInputyin, 'yin');
  getcategoryforsearchInput(categoryInputastanga, 'astanga');
  getcategoryforsearchInput(categoryInputbikram, 'bikram');
  getcategoryforsearchInput(categoryInputother, 'other');
  




// CLASS NAME SEARCH
/*
  const classnamesearchInput = document.getElementById('input-classnamesearch');

  button.addEventListener('click', () => {
        const category = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const dayindication = getQueryVariable("dayindication");
        const category = getQueryVariable("category");

        console.log(latitude);
         console.log(dayindication);
          console.log(category);
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });

*/



  //MAP MAP MAP


  function initMap () {
    const mapElement = document.getElementById('google-map');

    const map = new google.maps.Map (mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });

    //Import database Info

    const classes = {{{ json classes }}};

    console.log(classes);

    for (let classlisting of classes) {
      const marker = new google.maps.Marker({
        position: {
          lat: classlisting.location.coordinates[1],
          lng: classlisting.location.coordinates[0]
        },
        map:map
      })

      marker.addListener('click', () => {
        window.location = `/yoga/class/${classlisting._id}`;
      });
    }

    const image =
    "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
    const mylocationmarker = new google.maps.Marker({
        position: {
          lat: {{latitude}},
          lng: {{longitude}}
        },
        map:map,
        icon: image,
      })
}

  //Change view on click



  
</script>


{{> scriptgooglemaps}}



    


