{{!
<input id="input-latitude" type="number" name="latitude"  value="{{latitude}}
{{!
" />
<input id="input-longitude" type="number" name="longitude" value="{{longitude}}
{{!" />
}}

<div class="split-screen ">
    <div class="split-screen-left-scroll">
        <div class=" split-screen-upper-left"> 
          
            <h2 id="hl-before-sub-special">Choose your practice </br>
            </h2>
            <div id="align-hl-with-dayfilter">
              <sub id="sub-special" class="light-font"> for </sub> 
                <div class="dayfilter horizontal-scroll-wrapper-days">
                  <button id="input-dayindicationtoday"> Today </button>
                  <button id="input-dayindicationtomorrow"> Tomorrow </button>
                  <button id="input-dayindicationtomorrowAndone"> +1 </button>
                  <button id="input-dayindicationtomorrowAndtwo"> +2 </button>
                  <button id="input-dayindicationtomorrowAndthree"> +3</button>
                  <button id="input-dayindicationtomorrowAndfour"> +4 </button>
                  <button id="input-dayindicationtomorrowAndfive"> +5 </button>
                  </div>
              
            </h2> 
          </div>
        </div>
        <div class="background-white split-screen-lower-left">

           {{!<div class="search">
                <img src="/images/search.png" alt="search-icon">
                <form action="">
                    <label for="input-classnamesearch"></label>
                    <input type="text" id="input-classnamesearch" name="classnamesearch" placeholder="Search class name">     
                </form>
            </div>
            }}

          

          <div class="category-filter horizontal-scroll-wrapper-category">

            <button id="input-categoryvinyasa"> 
              <div>
                <img src="/images/homeimage.svg" alt="vinyasa">
              </div>
              Vinyasa 
            </button>
            <button id="input-categoryhatha"> 
              <div>
                <img src="/images/homeimage.svg" alt="hatha">
              </div>
              Hatha 
            </button>
            <button id="input-categoryyin"> 
              <div>
                <img src="/images/homeimage.svg" alt="yin">
              </div> 
              Yin
            </button>
            <button id="input-categoryastanga"> 
              <div>
                <img src="/images/homeimage.svg" alt="astanga">
              </div> 
              Astanga 
            </button>
            <button id="input-categorybikram"> 
              <div>
                <img src="/images/homeimage.svg" alt="bikram">
              </div>
              Bikram 
            </button>
            <button id="input-categoryother">
              <div>
                <img src="/images/homeimage.svg" alt="other">
                </div> 
                Other 
            </button>

          </div>


          {{!<div class="dayfilter-wrapper">
            <div id="dayfilter"> {{ date setdayfilter 'DD MMMM'}} {{! </div> 
            <hr id="search-hr">  </hr> 
          </div>}}

            {{#if classes}}
         
            {{#each classes}}
    
            <a href="/yoga/class/{{_id}}" >
                <div class="yoga-class-preview ">
                    <div class="preview-box-left">
                        <h3>{{ name }}</h3>
                        <p> {{ locationlink}} </p>
                        <p> Hatha is a general category that includes most yoga styles. It includes the practice of asanas and pranayama.</p> 
                    </div>
                    <div class="preview-box-right">
                      {{!
                      {{#if categoryindication == 'any'}}{{!
                      <p> Display Day </p>
                       {{/if}}
                      <div class="icon-copy-wrapper" id="extra-space">
                        <img src="/images/time-icon.png" alt="time">
                        <p> {{{ date startdate "h:mm" }}} - {{{ date enddate "h:mm a" }}}</p>
                      </div>
                      <div class="icon-copy-wrapper">
                        <img src="/images/level-icon.png" alt="level">
                        <p> Level: {{ level }}</p>
                      </div>
                      <div class="icon-copy-wrapper">
                        <img src="/images/teacher-icon.png" alt="teacher">
                        <p> With: {{ teacher }}</p>
                      </div>
                      
                    </div>   
                </div>  
            </a>
  
            {{/each}}

            {{else}}

            <p>There are no classes on this date.</p>
            {{/if}}
          </div>
      </div>
      

            <div id="google-map"></div>

</div>
 

<script>

  //SPLIT URL

  function getQueryVariable(variable) {
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
              var pair = vars[i].split("=");
              if(pair[0] == variable){return pair[1];}
      }
      return(false);
    }


  //DAYSEARCH  

    function getdayoutofdaysearchInput (object, value) {
      object.addEventListener('click', () => {
        const dayindication = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const category = getQueryVariable("categoryindication");
        console.log('category' + category);
        
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });
    }

    const daysearchtodayInput = document.getElementById('input-dayindicationtoday');
    const daysearchtomorrowInput = document.getElementById('input-dayindicationtomorrow');
    const daysearchtomorrowAndoneInput = document.getElementById('input-dayindicationtomorrowAndone');
    const daysearchtomorrowAndtwoInput = document.getElementById('input-dayindicationtomorrowAndtwo');
    const daysearchtomorrowAndthreeInput = document.getElementById('input-dayindicationtomorrowAndthree');
    const daysearchtomorrowAndfourInput = document.getElementById('input-dayindicationtomorrowAndfour');
    const daysearchtomorrowAndfiveInput = document.getElementById('input-dayindicationtomorrowAndfive');

    const daysearchanyInput = document.getElementById('input-dayindicationany');

    getdayoutofdaysearchInput(daysearchtodayInput, 'today');
    getdayoutofdaysearchInput(daysearchtomorrowInput, 'tomorrow');
    getdayoutofdaysearchInput(daysearchtomorrowAndoneInput, 'tomorrowandone');
    getdayoutofdaysearchInput(daysearchtomorrowAndtwoInput, 'tomorrowandtwo');
    getdayoutofdaysearchInput(daysearchtomorrowAndthreeInput, 'tomorrowandthree');
    getdayoutofdaysearchInput(daysearchtomorrowAndfourInput, 'tomorrowandfour');
    getdayoutofdaysearchInput(daysearchtomorrowAndfiveInput, 'tomorrowandfive');
    
    getdayoutofdaysearchInput(daysearchanyInput, 'any');

 
  //CATEGORYSEARCH  

  function getcategoryforsearchInput (button, value) {
      button.addEventListener('click', () => {
        const category = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const dayindication = getQueryVariable("dayindication");

        console.log(latitude);
         console.log(dayindication);
          console.log(category);
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });
    }

  const categoryInputvinyasa = document.getElementById('input-categoryvinyasa');
  const categoryInputhatha = document.getElementById('input-categoryhatha');
  const categoryInputyin = document.getElementById('input-categoryyin');
  const categoryInputastanga = document.getElementById('input-categoryastanga');
  const categoryInputbikram = document.getElementById('input-categorybikram');
  const categoryInputother = document.getElementById('input-categoryother');




  getcategoryforsearchInput(categoryInputvinyasa, 'vinyasa');
  getcategoryforsearchInput(categoryInputhatha, 'hatha');
  getcategoryforsearchInput(categoryInputyin, 'yin');
  getcategoryforsearchInput(categoryInputastanga, 'astanga');
  getcategoryforsearchInput(categoryInputbikram, 'bikram');
  getcategoryforsearchInput(categoryInputother, 'other');
  




// CLASS NAME SEARCH
/*
  const classnamesearchInput = document.getElementById('input-classnamesearch');

  button.addEventListener('click', () => {
        const category = value;
        //console.log('eventlistenerdaysearch:');
        //console.log (dayindication);
        const latitude = getQueryVariable("latitude");
        const longitude = getQueryVariable("longitude");
        const dayindication = getQueryVariable("dayindication");
        const category = getQueryVariable("category");

        console.log(latitude);
         console.log(dayindication);
          console.log(category);
        //console.log(latitude);
        //const urlsplit = window.location.search.split('/');
        //console.log(urlsplit);
        window.location = `/yoga/search?latitude=${latitude}&longitude=${longitude}&distance=10000&dayindication=${dayindication}&categoryindication=${category}`
      });

*/



  //MAP MAP MAP


  function initMap () {
    const mapElement = document.getElementById('google-map');

    const map = new google.maps.Map (mapElement, {
      center: {
        lat: -8.8,
        lng: 115.15
      },
      zoom: 12
    });

    //Import database Info

    const classes = {{{ json classes }}};

    console.log(classes);

    for (let classlisting of classes) {
      const marker = new google.maps.Marker({
        position: {
          lat: classlisting.location.coordinates[1],
          lng: classlisting.location.coordinates[0]
        },
        map:map
      })

      marker.addListener('click', () => {
        window.location = `/yoga/class/${classlisting._id}`;
      });
    }

    const image =
    "https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png";
    const mylocationmarker = new google.maps.Marker({
        position: {
          lat: {{latitude}},
          lng: {{longitude}}
        },
        map:map,
        icon: image,
      })
}

  //Change view on click


  



  
</script>


{{> scriptgooglemaps}}



    


